---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout 
  title="About | Oleksiy Zelenyuk" 
  description="About Oleksiy Zelenyuk Lorem Ipsum"
  background="bg-about"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I&apos;m passionate about creating beautiful compositions, whether it&apos;s a piece of software, a photograph, or a portion of music.
            I&apos;m a Software Architect with over 20 years of experience in the industry. I&apos;m also a keen photographer, but I have no talent in music, unfortunately :).
            I love to travel and explore the world. I&apos;m a big fan of the outdoors and love hiking, driving off-road, and skiing.
          </p>	
        </div>
      </section>
      <section>
        <h2 class="section-title">Photography</h2>
        <div class="content">
          <p>
            I&apos;ve been taking photos since I was a kid. I started with a film camera and then moved to digital. I&apos;ve been using Canon cameras for over 20 years now.
          </p>
          <p>
          I love to take photos of landscapes, nature, people, and animals. I also enjoy taking pictures of my family and friends, who have been waiting for their pictures for ages :)
          </p>
          <p>
          Capturing the moment, showing essential things, and telling a story, using focal length, focus, composition, and attention to detail are the key elements of a good photo, such as in a software architecture vision.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Offroading</h2>
        <div class="content">
          <p>
            Unfortunately, I didn&apos;t have a chance to offroad when I was a teenager. I could only dream about a Jeep or at least Lada Niva.
          </p>
          <p>
            I started offroading in 2019 when I bought my FJ Cruiser I&apos;m still driving and making more and more modifications.
          </p>
          <p>
            Planning the route, preparing the vehicle, and overcoming the obstacles, using the right tools, estimating resources, and making a backup plan are the key elements of a successful offroad trip, such as in a software discovery.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Career</h2>
        <div class="content">
          <p>
            I started programming in school back in 1998, using C++ and Pascal. When I discovered web development, I was amazed by the cool things I could do with HTML and JavaScript. Then I realized I wanted to build the websites.
          </p>
          <p>
            I mastered graphics editors of the Corel package and started building cool and animated 90-ish websites. I quickly realized that not everything I could do with JS at that time (NodeJS hadn&apos;t been invented yet), so I learned Perl and then moved to PHP, also learned how to deploy it to a hosting platform and promote it in Yahoo and Google.
          </p>
          <p>
            It allowed me to start my small craft in the industry and build my own projects. So, in fact, I was a full-stack developer in the early 2000s before it became mainstream.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
