---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPreview from '../components/BlogPreview.astro';
import Hero from '../components/Hero.astro';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout
  title="Blog | Oleksiy Zelenyuk"
  description="My blog posts"
  background="bg-blog"
>
  <div class="stack">
    <main>
      <div class="wrapper">
        <Hero
          title="Blog"
          tagline="Here I write about my experiences and learnings."
          align="start"
        />
      </div>
      
      <div class="content">
        <div class="wrapper">
          <section class="posts">
            {posts.map((post) => (
              <BlogPreview project={post} />
            ))}
          </section>
        </div>
      </div>
    </main>
    <footer>
      <div class="wrapper">
        <p>© {new Date().getFullYear()} Oleksiy Zelenyuk</p>
      </div>
    </footer>
  </div>
</BaseLayout>

<style>
  .stack {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    margin-top: 2rem;
    min-height: calc(100vh - 20rem);
  }

  .posts {
    display: flex;
    flex-direction: column;
  }

  footer {
    padding: 2rem 0;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer p {
    margin: 0;
  }
</style>
